<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if data}}

  {{#each data}}

    <h3>Share: {{this.name}}</h3>
    <table class="table">
      <tr><td>Data</td><td>UP / DOWN</td><td>Chromosome</td><td>Valid</td><td>Renko</td></tr>
      {{#each this.dat}}
        <tr>
            {{#each this}}
              <td>{{this}}</td>
            {{/each}}
            <td><canvas id="canvas_{{{renko this.chromo}}}"></canvas></td>
        </tr>
      {{/each}}
    </table>
  {{/each}}

{{/if}}
