<h1>{{app.name}}</h1>

<h2>Supported Gateways</h2>
<ul>
  {{#each api.gateways}}
    <li>{{this.type}}: {{this.name}}</li>
  {{/each}}
</ul>
<h2>Supported Nodes</h2>
<ul>
  {{#each api.nodes}}
    <li>{{this.type}}: {{this.name}}</li>
  {{/each}}
</ul>
<h2>Supported Modules</h2>
<ul>
  {{#each api.modules}}
    <li>{{this.type}}: {{this.name}}</li>
  {{/each}}
</ul>

<form method="post" action="/api">
  <input type="text" name="serial"/>
  <input type="submit" />
</form>
